<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"></head>

<body>
    {% include '_navigation.html' %}
    <h2>Додавання нової позиції</h2>
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

        <input type="text" name="name" placeholder="Назва позиції" required>

        <input type="file" name="img" accept="image/*" required>

        <textarea name="ingredients" placeholder="Інгредієнти" required></textarea>

        <textarea name="description" placeholder="Опис" required></textarea>

        <input type="number" name="price" placeholder="Ціна (грн)" required>

        <input type="number" name="weight" placeholder="Вага (г)" required>

        <button type="submit">Додати товар</button>
    </form>
</body>

</html>