<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"></head>

<body>
    {% include '_navigation.html' %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash-messages">
        <div class="alert">{{ messages[-1] }}</div>
    </div>
    {% endif %}
    {% endwith %}

    <img src="/static/menu/{{position.file_name}}">
    <p>{{position.name}} ({{position.weight}}гр)</p>
    <small>{{position.ingredients}}</small>
    <p>Опис:</p>
    <pre>{{position.description}}</pre>
    <p>{{position.price}} грн</p>
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <input type="hidden" name="name" value="{{position.name}}">
        <input type="number" name="num">
        <input type="submit" value="Додати">
    </form>
</body>

</html>